<div class="profil-container">
    <h3 class="title-page">Profil utilisateur</h3>
    <div class="info-user-container">
        @if (userInfo$ | async; as res) {
            <form>
                <input type="text" id="username" [formControl]="username" [ngModel]="res.username" />
                <input type="text" id="email" [formControl]="email" [ngModel]="res.email" />
            </form>
            @if (loading) {
                <div class="loader-container">
                    <div class="loader"></div>
                </div>
            } @else {
                <button class="save-btn" (click)="putUserInfo()">Sauvegarder</button>
            }
            @if (requestRes$ | async; as res) {
                @if (res) {
                    <p>Succés</p>
                }
            }
            @if (ErrorMsg) {
                <p>error</p>
            }
        }
        <button class="logout-btn" (click)="logout()">Se déconnecter</button>
    </div>
    <div class="hr-container">
        <hr />
    </div>
    <h2>Abonnements</h2>
    <div class="themes-container">
        @if (themes$ | async; as themes) {
            @for (theme of themes; track theme) {
                <div class="theme-item">
                    <li>
                        <h3>
                            {{ theme.title }}
                        </h3>
                    </li>
                    <li>
                        <p>
                            {{ theme.description }}
                        </p>
                    </li>
                    <div class="btn-container">
                        <button (click)="subscribe(theme.id)">Se désabonner</button>
                    </div>
                </div>
            }
        }
    </div>
</div>
