<div class="arrowContainer" routerLink="/">
    <img src="/assets/icons/arrow.svg" alt="arrow" />
</div>
<div class="register-form-container">
    <div class="formContainer">
        <img src="/assets/pictures/logo_p6.png" alt="Logo mmd" />
        <h2>Inscription</h2>
        <form>
            <label>Nom d'utilisateur</label>
            <input type="text" id="username" [formControl]="username" />
            @if (username.errors?.["required"] && username.touched) {
                <p class="errMsg">Veuillez saisir votre username</p>
            }
            <label>Adresse e-mail</label>
            <input type="text" id="email" [formControl]="email" />
            @if (email.errors?.["required"] && email.touched) {
                <p class="errMsg">Veuillez saisir votre email</p>
            }
            @if (email.errors?.["email"] && email.touched) {
                <p class="errMsg">Veuillez saisir une addresse email valide</p>
            }
            <label>Mot de passe</label>
            <input type="text" id="password" [formControl]="password" />
            @if (password.errors?.["required"] && password.touched) {
                <p class="errMsg">Veuillez saisir un password</p>
            }
            @if (password.errors?.["passwordControl"] && password.touched) {
                <p class="errMsg"
                    >Le mot de passe doit contenir au moins 8 caractères, dont au moins un chiffre, une lettre minuscule, une lettre majuscule et un
                    caractère spécial.</p
                >
            }
        </form>
        @if (loading) {
            <div class="loader-container">
                <div class="loader"></div>
            </div>
        } @else {
            <div class="btn-container">
                <button (click)="onSubmitForm()">S'inscrire</button>
            </div>
        }
        @if (ErrorMsg) {
            <p class="errMsg">{{ ErrorMsg }}</p>
        }
        @if (requestRes$ | async; as res) {
            <h3>Redirect</h3>
        }
    </div>
</div>
