<div class="topcontainer">
    <button routerLink="/new-article">Créer un articles</button>
    <p>Trier par :</p>
</div>
@if (articles$ | async; as articles) {
    @if (articles[0]) {
        <div class="article-container">
            @for (article of articles; track article) {
                <div class="article-item" [routerLink]="['/article', article.id]">
                    <li>
                        <h3>
                            {{ article.title }}
                        </h3>
                    </li>
                    <div class="authorDateContainer">
                        <li>
                            <p>
                                {{ article.createdAt | date: "dd/MM/yyyy HH:mm" }}
                            </p>
                        </li>
                        <li>
                            <p>
                                {{ article.author }}
                            </p>
                        </li>
                    </div>

                    <li>
                        <p>
                            {{ article.content }}
                        </p>
                    </li>
                </div>
            }
        </div>
    } @else {
        Pas de thème
    }
} @else {
    <div class="loader-container">
        <div class="loader"></div>
    </div>
}
