@if (!isPageExcluded()) {
    @if (isLogged$ | async; as isLogged) {
        <header>
            <img class="logoPic" src="/assets/pictures/logo_p6.png" alt="Logo mmd" />
            <nav>
                <ul>
                    <li routerLink="/">Articles</li>
                    <li routerLink="/themes">Thèmes</li>
                    <img routerLink="/profil" class="profilePicture" src="/assets/icons/profile.svg" alt="profile" />
                </ul>
            </nav>
        </header>
    } @else {
        <header>
            <img class="logoPic" src="/assets/pictures/logo_p6.png" alt="Logo mmd" />
        </header>
    }
}
